<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
<!--    新增页面 get请求-->
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>com.yg.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student/add</url-pattern>
    </servlet-mapping>
<!--    新增页面 post请求-->
    <servlet>
        <servlet-name>studentAddPost</servlet-name>
        <servlet-class>com.yg.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentAddPost</servlet-name>
        <url-pattern>/student/addPost</url-pattern>
    </servlet-mapping>

<!--获取所有student信息-->
    <servlet>
        <servlet-name>servletGetAll</servlet-name>
        <servlet-class>com.yg.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletGetAll</servlet-name>
        <url-pattern>/student/getAll</url-pattern>
    </servlet-mapping>

</web-app>
